:root{
    --background-white: hsl(0, 0%, 100%);
    --background-pink: hsl(330, 100%, 98%);
    --background-main: hsl(30, 18%, 87%);
    --text-black: hsl(24, 5%, 18%);
    --text-brown: hsl(14, 45%, 36%);
    --text-rose: hsl(332, 51%, 32%);
    --text-grey-black: hsl(30, 10%, 34%);

}

@font-face {
    font-family: 'young-serif';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}